@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Special Elite", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
}

button {
  font-family: "Special Elite", cursive;
  padding: 0.8rem 2rem;
  border: none;
  background-color: wheat;
  margin: 1rem;
}
h1,
p {
  margin: 2rem auto;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  background-color: grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: white;
}

.circle p {
  font-size: 2rem;
}

.active {
  box-shadow: 0 0 25px yellow;
  border: 25px solid yellow;
}
